@font-face {
    font-family: "amalfi";
    src: url('../font/amalfi_coast.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  :root {
    --black: #101010;
    --white: #f2f2f2;
    --main: #d7b7b4;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
  }
  
  body {
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: var(--var(--black))
  }
  
  
  header h1 {
    display: none;
  }
  
  
  .sub-header {
    width: 55%;
    margin: 0 auto;
  }
  
  .sub-header figure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }
  
  .sub-header figure img {
    width: 10rem;
  }
  
  .langue {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 20px;
  }
  
  .langue img{
    width: 20px;
  }
  
  .langue li:first-child {
   padding-right: 20px;
   border-right: 1px solid var(--black);
  }
  
  .langue li a {
    text-transform: uppercase;
    font-size: 1.4rem;
  
  }
  
  nav {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: var(--var
    (--black));
  }
  
  nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 420px;
    width: 1070px;
    height: 1px;
    background-color: var(--black);
    z-index: 2;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 100px;
    padding: 6px;
    margin-top: 1%;
  }
  
  nav .menu li a {
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--black);
    font-weight: 200;
    text-decoration: none;
    font-size: 1.5rem;
    width: 100%;
    cursor: pointer;
  }
  
  /* Les items de menu, sauf le dernier, auront un séparateur */
  nav ul li:not(:last-child) {
    position: relative;
  }
  
  /* Ajouter un séparateur aux items principaux, sauf les sous-menus */
  nav .menu li:not(:last-child):not(.submenu li)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    width: 1px;
    height: 30px;
    background-color: var(--black);
    z-index: 2;
  }
  
  nav .menu li .submenu {
    position: absolute; 
    top: 100%; 
    opacity: 0;
    z-index: -10;
    transition: all 0.2s ease; 
    display: block;
  }
  
  nav .menu li .submenu:first-child{
    left: -90%!important;
  }
  
  nav .menu li .submenu:last-child {
    left: -20%;
  }
  
  nav .menu li:hover .submenu {
    opacity: 1;
    z-index: 10; 
    transition: all 0.2s ease; 
    background: white;
  }
  
  nav .menu li .submenu {
    background-color: var(--white); 
    padding: 10px; 
    padding-left: 30px; 
    width: 300px;
  }
  
  nav .menu li .submenu li, nav .menu li .submenu li a{
    font-size: 1.1rem;
    text-transform: none;
    padding: 10px;
    letter-spacing: 0;
  }
  
  nav .menu li .submenu li::before {
    content: "-"; 
    margin-right: 10px;
  }

.active {
    font-weight: 400;
}

/* Style du formulaire et fond du main */
main {
    background-image: url("../img/BackgroundForm_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 50px 0;
    margin-top: 2%;
}

form {
    width: 40%;
    margin: 0 auto;
    padding: 2% 3%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-weight: 200;
}

/* Style des titres h1, h2, h3 */
h1, h2, h3 {
    text-align: center;
}

h2 {
    font-size: 44px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
    margin-top: 0;
    font-weight: 100;
}

/* Style des labels et inputs */
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 15px;
    border: 2px solid black;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form-group input[type="checkbox"] {
    width: 25px; /* Largeur */
    height: 25px; /* Hauteur */
    cursor: pointer; /* Changer le curseur en pointeur */
    border: 2px solid black; /* Bordure noire très fine */
    border-radius: 0; /* Pas de coins arrondis */
    appearance: none; /* Supprime le style par défaut du checkbox */
    outline: none; /* Supprime l'effet de contour par défaut */
}

.form-group input[type="checkbox"]:checked {
    background-color: #007BFF; /* Couleur de fond lorsqu'il est coché (facultatif) */
    border: 2px solid black; /* Bordure noire lorsqu'il est coché (facultatif) */
}



/* Style des checkboxes */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 5px;
}

.form-group label {
    margin-right: 10px;
}

/* Champ texte pour "Autre (précisez)" */
#autre_precisez {
    margin-top: 5px;
    padding: 8px;
    width: 90%;
    box-sizing: border-box;
}

/* Bouton d'envoi */
button[type="submit"] {
    background-color: #403c3c;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin-top: 5%;
}

/* Styles spécifiques pour le formulaire */

/* Alignement à gauche pour les sections spécifiques */
.form-group input[type="checkbox"] {
    margin-right: 10px;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

/* Style spécifique pour aligner "Choix de la prestation", "Être rappelé(e)", et "Disponibilités" à gauche */
.form-group {
    text-align: left;
}

form h3 {
    text-align: left; /* Aligner les sous-titres à gauche */
    font-weight: 200;

}

footer {
    background-color: #d7b7b4;
    color: white;
    padding: 20px;
}

footer .logofooter {
    display: flex;
    justify-content: center;
}

footer .logofooter img {
    width: 20%;
}

footer .contact {
    display: block;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    margin-top: 2%;
}

footer .contact h3,
a {
    font-size: 20px;
    font-weight: 200;
}

footer .contact a {
    color: white;
    text-decoration: none;
}

footer .iconslinks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 40px;
}

footer .iconslinks img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}

footer .adresse {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer .adresse h3 {
    font-size: 17px;
    font-weight: 200;
}

footer .fin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

a {
    font-size: 15px;
    font-weight: 200;
}

footer .fin a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .logo img {
        width: 15%; /* Augmenter la taille du logo sur mobile */
    }

    nav ul {
        flex-direction: column; /* Empile les éléments du menu */
        gap: 15px; /* Réduit l'espace entre les éléments */
    }

    nav ul li {
        font-size: 16px; /* Réduit la taille de police pour mobile */
    }

    form {
        width: 90%; /* Élargir le formulaire sur mobile */
    }

    h2 {
        font-size: 32px; /* Réduit la taille du titre */
    }

    h3 {
        font-size: 20px; /* Réduit la taille du sous-titre */
    }

    button[type="submit"] {
        padding: 12px; /* Réduit le padding du bouton */
    }
}

@media (max-width: 480px) {
    .langue ul {
        flex-direction: column; /* Aligne les langues verticalement */
    }

    .langue ul li {
        font-size: 14px; /* Réduit la taille de police */
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        padding: 10px; /* Réduit le padding des champs d'entrée */
    }

    button[type="submit"] {
        font-size: 16px; /* Réduit la taille de police du bouton */
    }

    footer .iconslinks img {
        width: 50px; /* Réduit la taille des icônes */
        height: 50px; /* Réduit la taille des icônes */
    }

    a {
        font-size: 14px; /* Réduit la taille de police du footer */
    }
}
