@font-face {
  font-family: "amalfi";
  src: url('../font/amalfi_coast.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --black: #101010;
  --white: #f2f2f2;
  --main: #d7b7b4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--var(--black))
}

header {
  background: url('../img/header.png') center/cover no-repeat;
  width: 100dvw;
  height: 100dvh;
}

header h1 {
  display: none;
}

h2 {
  font-size: 3rem;
  font-family: "amalfi";
  font-weight: 200;
  color: var(--main)
}

.sub-header {
  width: 55%;
  margin: 0 auto;
}

.sub-header figure {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.sub-header figure img {
  width: 10rem;
}

.langue {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 20px;
}

.langue img{
  width: 20px;
}

.langue li:first-child {
 padding-right: 20px;
 border-right: 1px solid var(--black);
}

.langue li a {
  text-transform: uppercase;
  font-size: 1.4rem;

}

nav {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: var(--var
  (--black));
}

nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 420px;
  width: 1070px;
  height: 1px;
  background-color: var(--black);
  z-index: 2;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 100px;
  padding: 6px;
  margin-top: 1%;
}

nav .menu li a {
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--black);
  font-weight: 200;
  text-decoration: none;
  font-size: 1.5rem;
  width: 100%;
  cursor: pointer;
}

/* Les items de menu, sauf le dernier, auront un séparateur */
nav ul li:not(:last-child) {
  position: relative;
}

/* Ajouter un séparateur aux items principaux, sauf les sous-menus */
nav .menu li:not(:last-child):not(.submenu li)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  width: 1px;
  height: 30px;
  background-color: var(--black);
  z-index: 2;
}

nav .menu li .submenu {
  position: absolute; 
  top: 100%; 
  opacity: 0;
  z-index: -10;
  transition: all 0.2s ease; 
  display: block;
}

nav .menu li .submenu:first-child{
  left: -90%!important;
}

nav .menu li .submenu:last-child {
  left: -20%;
}

nav .menu li:hover .submenu {
  opacity: 1;
  z-index: 10; 
  transition: all 0.2s ease; 
  background: white;
}

nav .menu li .submenu {
  background-color: var(--white); 
  padding: 10px; 
  padding-left: 30px; 
  width: 300px;
}

nav .menu li .submenu li, nav .menu li .submenu li a{
  font-size: 1.1rem;
  text-transform: none;
  padding: 10px;
  letter-spacing: 0;
}

nav .menu li .submenu li::before {
  content: "-"; 
  margin-right: 10px;
}

.magiques {
  display: block;
  margin: 0 auto;
  width: 52%;
  text-align: center;
  margin-top: 30px;
}

.magiques h3 {
  font-size: 2.7rem;
  text-transform: uppercase;
  color: var(--main);
  font-weight: 200;
}

.magiques p {
  font-size: 1.4rem;
  font-weight: 100;
  color: var(--black);
  font-weight: 200;
  font-style: italic;
  margin-top: 5px;
}

.inoubliable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 610px;
  background-image: url("../img/Createur_image.png");
  background-size: cover;
  background-position: center;
  margin-top: 30px;
}

.inoubliable h3 {
  font-size: 46px;
  color: var(--white);
  font-weight: 200;
  margin-top: 100px;
  letter-spacing: 2px;
}

.inoubliable h3 span {
  font-family: "amalfi";
}

main {
  color: var(--main);
  padding: 50px;
}

.presentation-title {
  margin-left: 20rem; /* Ajustez cette valeur selon vos besoins */
}

.header2 {
  margin-left: 20rem; /* Ajustez cette valeur selon vos besoins */
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 50px;
}

.presentation > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.presentation-text {
  width: 100%;
  max-width: 600px;
}

.presentation p {
  font-size: 1.7rem;
  text-wrap: wrap;
  line-height: 1.5;
  color: var(--black);
  font-weight: 200;
  text-align:justify;
}

.presentation button {
  padding: 15px 55px;
  color: var(--black);
  border: 1px solid var(--black);
  background-color: var(--white);
  cursor: pointer;
  text-decoration: none;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 23px;
}

.prestations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-bottom: 50px;
}

.prestations a div {
  width: 500px;
  height: 450px;
  display: flex; 
  justify-content: center;
  align-items: center;
  color: white; 
  font-size: 24px; 
  font-weight: bold;
  text-align: center; 
  position: relative;
  z-index: 1; 
  font-weight: 200;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.prestations a:first-child div {
  background: url('../img/Ceremonie_image.jpg') center/cover no-repeat;
}

.prestations a:last-child div {
  background: url('../img/Moonriverprod_image.png') center/cover no-repeat;
}

/* Ajout de marges supplémentaires pour .presentation-title et .header2 */




footer {
  display: block;
  background-color: #d7b7b4;
  color: var(--white);
  padding: 20px;
}

footer figure {
  display: flex;
  justify-content: center;
}

footer figure img {
  width: 20%;
}

footer .contact {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  margin-top: 2%;
}

footer .contact h3,
a {
  font-size: 20px;
  font-weight: 200;
}

footer .contact a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.7rem;
}

footer .socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 40px;
}

footer .socialmedia a{
  background-color: white;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 1.7rem;
  color: var(--main);
}

footer .socialmedia img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--white);
  padding: 10px;
  box-sizing: border-box;
}

footer .adresse {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

footer .adresse h3 {
  font-size: 1.1rem;
  font-weight: 200;
}

footer .credits{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 100px;
}

footer .address {
  text-align: center;
  font-size: 1.5rem;
}

footer .credit, footer .credits a,footer .credits p {
  color: var(--white);
  text-decoration: none;
  font-weight: 300;
  font-size: 1.2rem;
}

.burger-container {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.burger-icon {
  cursor: pointer; /* Changement du curseur au survol */
  display: flex; /* Utilisation de flexbox pour aligner les lignes */
  flex-direction: column; /* Alignement des lignes en colonne */
  width: 40px; /* Largeur de l'icône */
  height: 34px; /* Hauteur de l'icône */
  margin-top: 923px;
  margin-right: 20px;
}

.line {
  background-color: #000; /* Couleur des lignes (noir) */
  height: 3px; /* Épaisseur des lignes */
  width: 100%; /* Largeur de chaque ligne */
  margin: 4px 0; /* Marge entre les lignes */
}

.menu-burger {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Fond blanc */
  z-index: 1000;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  flex-direction: column; /* Alignement vertical des éléments */
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 30px;
  cursor: pointer;
}

.burger-menu {
  list-style: none;
  padding: 20px;
  margin: 0; /* Enlever les marges */
  align-items: center; /* Centrer verticalement */
}

.burger-menu li {
  margin: 20px 0;
}

.burger-menu a {
  color: black; /* Couleur des liens */
  text-decoration: none;
  font-size: 20px;
}

.submenu-burger {
  display: none; /* Initially hidden */
  list-style: none;
  margin-top: 10px;
  margin-left: 20px;
}

.submenu-burger li {
  margin: 10px 0;
}

.burger-menu li:hover .submenu-burger {
  display: block; /* Show submenu on hover */
}


@media screen and (max-width: 425px) {
  .burger-container {
    display: block;
  }
  header{
    background-image: url("../img/img_debut_tel.png");
  }
  .menu {
    display: none; /* Masquer le menu normal */
  }
  nav, .langue {
    display: none; /* Cacher le menu de navigation pour les petits écrans */
  }

  nav::before {
    display: none; /* Masque la barre horizontale */
  }

  .sub-header figure {
    position: relative;
  }

  .sub-header figure::after {
    content: "";
    position: absolute;
    top: 170px;
    width: 380px;
    height: 1px;
    background-color: var(--black);
    z-index: 2;  
  }

  .magiques{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .magiques h3 {
    font-size: 1.4rem; /* Ajustement de la taille du texte */
  }

  .magiques p {
    width: 93%;
    font-size: 1rem; /* Ajustement de la taille du texte */
  }

  .presentation-text p {
    font-size: 0.9rem; /* Ajustement de la taille du texte */
    line-height: 1.4; /* Ajustement de l'espacement */
  }

  .prestations a div {
    font-size: 1.5rem; /* Réduction de la taille de la police */
  }

  .presentation img{
    width: 50%;
  }

  .inoubliable {
    background-image: url("../img/jour_tel.png");
    background-size: contain; /* Redimensionne l'image pour qu'elle soit entièrement visible */
    background-repeat: no-repeat; /* Empêche l'image de se répéter */
    background-position: center; /* Centre l'image dans l'élément */
    margin: 0; /* Supprime toute marge autour de l'élément */
    padding: 0; /* Supprime tout remplissage à l'intérieur de l'élément */
    height: 20vh; /* Ajustez cette hauteur si nécessaire */
}

  .inoubliable h3 {
    display: none;
  }

  footer figure img {
    width: 50%; /* Réduction de la taille de l'image du logo dans le pied de page */
  }

  .presentation-title {
    text-align: center; /* Centre le texte */
    margin: 0; /* Supprime la marge */
    padding: 0; /* Supprime le padding */
  }

  .header2 {
    text-align: center; /* Centre le texte */
    margin: 0; /* Supprime la marge */
    padding: 0; /* Supprime le padding */
  }
}


@media screen and (max-width: 1440px)   {
nav::before {
  left: 170px;
  width: 1090px;
}
}


@media screen and (max-width: 1024px)   {
  nav::before {
    left: 20px;
    width: 1000px;
  }

  h3 {
    font-size: 3rem;
    margin: 0;
    text-align: center;
  }

  nav .menu li a {
    font-size: 1.1rem;
    margin: 0;
  }

  .prestations {
    gap: 10px;
  }

  .langue li {
    padding: 0;
  }

}


/* Media Query pour les petits écrans */
@media screen and (max-width: 768px) {
  .sub-header {
    width: 90%; /* Ajustement de la largeur */
  }

  .sub-header figure img {
    width: 8rem; /* Réduction de la taille du logo */
  }

  .langue {
    justify-content: center; /* Centrage des langues */
    padding: 10px 0; /* Ajout de padding pour espacement */
  }

  nav {
    display: flex;
    flex-direction: column; /* Passer à une colonne pour le menu */
    align-items: center; /* Centrer les éléments */
  }

  nav ul {
    flex-direction: column; /* Menu en colonne */
    gap: 10px; /* Réduction de l'écart */
    padding: 10px; /* Padding autour du menu */
  }

  nav .menu li a {
    font-size: 1.2rem; /* Réduction de la taille de la police */
  }

  .magiques h3 {
    font-size: 2rem; /* Ajustement de la taille du texte */
  }

  .magiques p {
    font-size: 1rem; /* Ajustement de la taille du texte */
  }

  .presentation {
    flex-direction: column; /* Passage à une colonne pour la présentation */
    align-items: center; /* Centrer les éléments */
    gap: 20px; /* Espacement entre les éléments */
  }

  .presentation-text {
    padding: 0 20px; /* Padding pour éviter que le texte touche les bords */
  }

  .prestations {
    flex-direction: column; /* Présentations en colonne */
    gap: 20px; /* Espacement vertical */
  }

  .prestations a div {
    width: 100%; /* Ajustement de la largeur */
    height: 250px; /* Réduction de la hauteur */
    font-size: 1.5rem; /* Ajustement de la taille du texte */
  }

  footer {
    padding: 10px; /* Réduction du padding */
  }

  footer .contact, footer .socialmedia {
    flex-direction: column; /* Disposition en colonne */
    align-items: center; /* Centrer les éléments */
  }

  footer .address {
    font-size: 1.2rem; /* Ajustement de la taille du texte */
  }

  footer .credits {
    flex-direction: column; /* Disposition en colonne */
    gap: 10px; /* Espacement entre les éléments */
  }
}


/* Autres styles CSS ici... */

@media screen and (min-width: 2560px) {
  .presentation-title {
    margin-left: 40rem; /* Ajustez cette valeur selon vos besoins */
  }

  .header2 {
    margin-left: 40rem; /* Ajustez cette valeur selon vos besoins */
  }

  nav::before {
    content: ""; /* Assurez-vous que le contenu est défini */
    position: absolute; 
    top: 0; /* Ajustez la position selon vos besoins */
    left: 720px; /* Ajustez la position à gauche */
    width: 1100px; /* Ajustez la largeur */
    height: 1px; /* Épaisseur de la ligne */
    background-color: var(--black); /* Couleur de la ligne */
    z-index: 2; /* S'assurer qu'il est au-dessus des autres éléments */
  }
}

/* Fin de votre CSS */

