@font-face {
    font-family: "amalfi";
    src: url('../font/amalfi_coast.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  :root {
    --black: #101010;
    --white: #f2f2f2;
    --main: #d7b7b4;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
  }
  
  body {
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: var(--var(--black))
  }
  
  header h1 {
    display: none;
  }
  
  h2 {
    font-size: 3rem;
    font-family: "amalfi";
    font-weight: 200;
    color: var(--main)
  }
  
  .sub-header {
    width: 55%;
    margin: 0 auto;
  }
  
  .sub-header figure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }
  
  .sub-header figure img {
    width: 10rem;
  }
  
  .langue {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 20px;
  }
  
  .langue img{
    width: 20px;
  }
  
  .langue li:first-child {
   padding-right: 20px;
   border-right: 1px solid var(--black);
  }
  
  .langue li a {
    text-transform: uppercase;
    font-size: 1.4rem;
  
  }
  
  nav {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: var(--var
    (--black));
  }
  
  nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 420px;
    width: 1070px;
    height: 1px;
    background-color: var(--black);
    z-index: 2;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 100px;
    padding: 6px;
    margin-top: 1%;
  }
  
  nav .menu li a {
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--black);
    font-weight: 200;
    text-decoration: none;
    font-size: 1.5rem;
    width: 100%;
    cursor: pointer;
  }
  
  /* Les items de menu, sauf le dernier, auront un séparateur */
  nav ul li:not(:last-child) {
    position: relative;
  }
  
  /* Ajouter un séparateur aux items principaux, sauf les sous-menus */
  nav .menu li:not(:last-child):not(.submenu li)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    width: 1px;
    height: 30px;
    background-color: var(--black);
    z-index: 2;
  }
  
  nav .menu li .submenu {
    position: absolute; 
    top: 100%; 
    opacity: 0;
    z-index: -10;
    transition: all 0.2s ease; 
    display: block;
  }
  
  nav .menu li .submenu:first-child{
    left: -90%!important;
  }
  
  nav .menu li .submenu:last-child {
    left: -20%;
  }
  
  nav .menu li:hover .submenu {
    opacity: 1;
    z-index: 10; 
    transition: all 0.2s ease; 
    background: white;
  }
  
  nav .menu li .submenu {
    background-color: var(--white); 
    padding: 10px; 
    padding-left: 30px; 
    width: 300px;
  }
  
  nav .menu li .submenu li, nav .menu li .submenu li a{
    font-size: 1.1rem;
    text-transform: none;
    padding: 10px;
    letter-spacing: 0;
  }
  
  nav .menu li .submenu li::before {
    content: "-"; 
    margin-right: 10px;
  }


.center {
    display: block;
    margin: 0 auto;
    width: 52%;
    text-align: center;
}

.center h3{
    font-size: 40px;
    color: black;
    font-weight: 200;
    padding: 2%;
    margin-top: 2%;
}

.center p {
    font-size: 22px;
    font-weight: 200;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    gap: 40px;
}


.left,
.right {
    width: 70%;
}

.left p {
    margin-top: 3%;
    font-size: 22px;
    text-align: justify;
    font-weight: 200;
    width: 100%;
}

.right img {
    width: 50%;
    height: auto;
    margin-top: 40%;
}


.titre {
    color: #d7b7b4;
    font-family: "amalfi";
    font-size: 32px;
    font-weight: 200!important;
    white-space: nowrap;
}

.titre h2{
  font-weight: 200;
}

.titre .autre{
  margin-left: 25%;
}




.containerinverse {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.leftinverse,
.rightinverse {
    width: 40%;
}

.titreinverserightinverse2 {
    color: #d7b7b4;
    font-size: 20px;
    font-weight: 100 !important;
    font-family: "amalfi";
    font-size: 42px;
    white-space: nowrap; 
    margin-left: -25%; 
}

.leftinverse p {
    margin-top: 5%;
    font-size: 22px;
    text-align: justify;
    font-weight: 200;
    width: 90%;
}

.rightinverse img {
    width: 90%;
    height: auto;
    margin-top: 30%
}

.rendezvous{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.rendezvous button {
    padding: 20px 100px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    font-size: 22px; /* Réduire la taille de la police */
    text-transform: uppercase;
    font-weight: 100!important;
}

footer {
  display: block;
  background-color: #d7b7b4;
  color: var(--white);
  padding: 20px;
}

footer figure {
  display: flex;
  justify-content: center;
}

footer figure img {
  width: 20%;
}

footer .contact {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  margin-top: 2%;
}

footer .contact h3,
a {
  font-size: 20px;
  font-weight: 200;
}

footer .contact a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.7rem;
}

footer .socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 40px;
}

footer .socialmedia a{
  background-color: white;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 1.7rem;
  color: var(--main);
}

footer .socialmedia img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--white);
  padding: 10px;
  box-sizing: border-box;
}

footer .adresse {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

footer .adresse h3 {
  font-size: 1.1rem;
  font-weight: 200;
}

footer .credits{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 100px;
}

footer .address {
  text-align: center;
  font-size: 1.5rem;
}

footer .credit, footer .credits a,footer .credits p {
  color: var(--white);
  text-decoration: none;
  font-weight: 300;
  font-size: 1.2rem;
}

@media screen and (min-width: 2560px) {
   
    .presentation-title {
      margin-left: 40rem; /* Ajustez cette valeur selon vos besoins */
    }

    .titre .autre{
      margin-left: 16.5em;
    }
  
    .header2 {
      margin-left: 40rem; /* Ajustez cette valeur selon vos besoins */
    }
  
    nav::before {
      content: ""; /* Assurez-vous que le contenu est défini */
      position: absolute; 
      top: 0; /* Ajustez la position selon vos besoins */
      left: 720px; /* Ajustez la position à gauche */
      width: 1100px; /* Ajustez la largeur */
      height: 1px; /* Épaisseur de la ligne */
      background-color: var(--black); /* Couleur de la ligne */
      z-index: 2; /* S'assurer qu'il est au-dessus des autres éléments */
    }
}

